<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<h1>Classic Physics Quotes!</h1>

<div id="quotesList"></div>

<% quotes.forEach(function(entry) { %>
<h1><%= entry["quote_text"] %></h1>
<p><%= entry["quote_author"] %></p>
<% }) %>


<form>
    <h1>Add a New Quote</h1>
    Quote Text: <input type="text">
    Author's Name: <input type="text">
    <button>Submit</button>
</form>

</body>
</html>
