<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
<% include ../partials/nav.ejs %>

<h1>Physics Simulation!</h1>

<div><canvas id="simCanvas" width=600 height=400>
    </canvas></div>

<script>

    let myCanvas = document.getElementById("simCanvas");
    let canvasHeight = myCanvas.clientHeight;
    let canvasWidth = myCanvas.clientWidth;

    let ctx = myCanvas.getContext("2d");

    let squareSize = 20;
    let x = 0;
    let y = squareSize;

    ctx.rect(x, (canvasHeight - y), squareSize, squareSize);
    ctx.stroke();
</script>

<form>
    Launch Angle: <input type="text" id="launchAngle" placeholder="45">
    Velocity: <input type="text" id="velocity" placeholder="50">
    <button id="launchButton">LAUNCH!</button>
</form>

<script>
    let launchButton = document.getElementById("launchButton");
    launchButton.addEventListener('click', function(e) {
        console.log("The launch button has been clicked");

        e.preventDefault();
        let launchAngle = document.getElementById("launchAngle").value;
        let velocity = document.getElementById("velocity").value;

        let request = new XMLHttpRequest();

        request.open("post", "https://agile-depths-52131.herokuapp.com/sim", true);
        request.setRequestHeader("Content-type", "application/json");
        let data = JSON.stringify({"launchAngle":launchAngle, "velocity": velocity});
        request.send(data);
    });
</script>

<div id="trajectoryHistory">
    <table>
        <% trajectories.forEach(function(entry) { %>
        <tr>
            <td><input type="checkbox"></td>
            <td><%= entry["shot_angle"] %></td>
            <td><%= entry["shot_velocity"] %></td>
        </tr>
        <% }) %>
    </table>
</div>
</body>
</html>
