<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<h1>Physics Simulation!</h1>

<div><canvas id="simCanvas" width="600" height="400">

    </canvas></div>

<script>
    let myCanvas = document.getElementById("simCanvas");
    let ctx = myCanvas.getContext("2d");
    ctx.moveTo(0,400);
    ctx.lineTo(600, 0);
    ctx.stroke();
</script>

<form action="" method="post">
    Launch Angle: <input type="text" id="launchAngle" placeholder="45">
    Velocity: <input type="text" id="velocity" placeholder="50">
    <button>LAUNCH!</button>
</form>

</body>
</html>
